<!DOCTYPE html>
<html data-ng-app="reco">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="http://rawgithub.com/Ciul/angular-facebook/master/lib/angular-facebook.js"></script>
    <!--<script src="http://pc035860.github.io/angular-easyfb/angular-easyfb.min.js"></script>-->
  </head>

  <body data-ng-controller="authCtrl">
    <div id="fb-root"></div>

    <div class="container">
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2">
           <div data-ng-init="user={firstName:'Darth',lastName:'Vidal'}">
        First Name: <input type="text" data-ng-model="user.firstName"><br>
        Last Name: <input type="text" data-ng-model="user.lastName"><br>
        <br/>
        <p>The name is <span data-ng-bind="user.firstName"></span> <span data-ng-bind="user.lastName"></span></p>
        <br/>
        ----
        <p>{{fullName() | uppercase}}</p>
        <p>{{ (5 * 3) | currency }}</p>
        <button type="button" class="btn btn-primary btn-large" data-ng-show="!loggedIn" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
        <button type="button" class="btn btn-danger btn-large" data-ng-show="loggedIn" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>

        <div>
          <debug val="user"></debug>
        </div>
        {{user}}
        ----

      </div>
      </div>
      <div>
    </div>

    <script src="recoApp.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="authCtrl.js"></script>
  </body>

</html>
